<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sample/css/style.css' %}" />
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<!--end of t_header-->
	<div id="t_menu">
	<ul>
			<li><a href="{% url 'sample:adashboard' %}">Dashboard</a></li>
			<li><a href="{% url 'sample:aviewteacher' %}">Teacher</a></li>
			<li><a href="{% url 'sample:aviewstudent' %}">Student</a></li>
			<li><a href="{% url 'sample:aviewcourse' %}">Course</a></li>
			<li><a href="">Manage Data</a></li>
			<li><a href="{% url 'sample:home' %}">Logout</a></li>
	</ul>
	</div>
	
	<div id="background">
        <div id="common">
        <div class="cs_article">
        <div class="left">
        <h1>Alert and Messages</h1>
        <br>
	<table width="300">
	<tr>
	<td>Last Backup</td>
	<td>
	</td>
	</tr>
	<tr>
	<td>Total Restore</td>
	<td>
	</td>
	</tr>
	<tr>
	<td>Total Teacher</td>
	<td>10
	</td>
	</tr>
	<tr>
	<td>Pending attendence</td>
	<td>5
	</td>
	</tr>
	<tr>
	<td>Total Student</td>
	<td>15
	</td>
	</tr>
	<tr>
	<td>Total Black List Student</td>
	<td>2
	</td>
	</tr>
	<tr>
	<td>Unread mail</td>
	<td>5
	</td>
	</tr>
	</table>
        
        </div>
        <div class="right">
        <h1>Dashboard</h1>
        <ul class="list">
        <li><a href="">Profile</a></li>
	<li><a href="">Backup</a></li>
	<li><a href="">Restore</a></li>
        </ul>
        </div>
        </div>
        </div>
       

	
	<hr noshade>
	 </div>


	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>