<html>
<head>
<title>NWC Attendence System</title>
<script language="javascript" type="text/javascript">
            function dynamicdropdown(listindex)
            {
                document.getElementById("subcategory").length = 0;
                switch (listindex)
                {
                    case "BSc (Computer Science)" :
                        document.getElementById("subcategory").options[0]=new Option("Please select Class","");
                        document.getElementById("subcategory").options[1]=new Option("FYBsc","FYBsc");
                        document.getElementById("subcategory").options[2]=new Option("SYBsc","SYBsc");
                        document.getElementById("subcategory").options[3]=new Option("TYBsc","TYBsc");
                        break;
                    
                    case "MSc (Computer Science)" :
                        document.getElementById("subcategory").options[0]=new Option("Please select Class","");
                        document.getElementById("subcategory").options[1]=new Option("FYMsc","FYMsc");
                        document.getElementById("subcategory").options[2]=new Option("SYMsc","SYMsc");
                        break;
                }
                return true;
            }
			function dynamicdropdown1(listindex)
            {
                document.getElementById("sub1category").length = 0;
                switch (listindex)
                {
                    case "FYBsc" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","1");
                        document.getElementById("sub1category").options[2]=new Option("Div B","2");
                        break;
					case "SYBsc" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","3");
                        document.getElementById("sub1category").options[2]=new Option("Div B","4");
                        break;
					case "TYBsc" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","5");
                        document.getElementById("sub1category").options[2]=new Option("Div B","6");
                        break;
                    case "FYMsc" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","7");
                        break;
					case "SYMsc" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","8");
                        break;
                    }
                return true;
            }
       </script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>

</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<!--end of t_header-->
	<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:adashboard' %}">Dashboard</a>
         <a href="{% url 'attendence:backup' %}">Backup</a>
        <a href="{% url 'attendence:restore' %}">Restore</a>
		<a href="{% url 'attendence:aupdatepass1' %}">Update Password</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Manage</a><div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:aviewteacher' %}">Teacher &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a href="{% url 'attendence:aviewsubject' %}">Subject</a>
		<a href="{% url 'attendence:aviewlab' %}">Lab</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Student</a><div id="m3" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:addstudent' %}">Add Student</a>
        <a href="{% url 'attendence:aviewstudent' %}">View Student</a>
        </div></li>
			
			<li><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">View</a><div id="m4" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:atview' %}">Teacher Attendance</a>
        <a href="{% url 'attendence:aviewcourse' %}">Division Attendance</a>
		<a href="{% url 'attendence:alview' %}">Lab Attendance</a>
        </div></li>
			<li><a href="{% url 'attendence:amail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	
	 <div id="background">
        <div id="height">
	

		<br><br>
	
	
	<table width="800" >
        <th colspan="2" align="center">Add Lab</th>
	
	<form action="{% url 'attendence:addlab1' %}" name="AddStudent" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<tr>
		<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Course</td>
        <td><select name="category1" id="category1" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                <option value="">Select Course</option>
                <option value="BSc (Computer Science)">BSc (Computer Science)</option>
                <option value="MSc (Computer Science)">MSc (Computer Science)</option>
            </select>
		</td>
        </tr>
	<tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Class</td>
        <td>
			<script type="text/javascript" language="JavaScript">
                document.write('<select name="subcategory" class="required-entry" id="subcategory" onchange="javascript: dynamicdropdown1(this.options[this.selectedIndex].value);"><option value="">Please select Class</option></select>')
            </script>
            <noscript>
                <select name="subcategory" id="subcategory" >
                    <option value="">Please select Class</option>
                </select>
            </noscript>
			
			
		</td>
        </tr>
		<tr>
	<tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Division</td>
        <td>
		<script type="text/javascript" language="JavaScript">
                document.write('<select name="sub1category" id="sub1category"><option value="">Please select Division</option></select>')
            </script>
            <noscript>
                <select name="sub1category" id="sub1category" >
                    <option value="">Please select Division</option>
                </select>
            </noscript>
		</td>
        </tr>
		<tr>
	<tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLab Name</td>
        <td><input type="text" name="lname" id="lname" size="30" required></td>
        </tr>
		<tr>
		<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Instructor</td>
        <td><select  name="teacher" id="teacher" ><option value="">Select Teacher</option>
		{% for b in obj %}
		<option value="{{b.tid}}">{{b.tname}}</option>
		{% endfor %}
		</select>
		</td>
        </tr>
		<tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFrom Roll No.</td>
        <td><input type="text" name="from" id="from" size="30" required></td>
        </tr>
		<tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo Roll No.</td>
        <td><input type="text" name="to" id="to" size="30" required></td>
        </tr>
		<tr>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="reset" value="Reset" name="reset"/></td>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="submit" value="Submit" name="submit" /></td> 
	</tr>
        </table>	
		
		
		
	
        
		</div>
       
		<hr noshade>

	
	</div>	
	
	
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>