<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:adashboard' %}">Dashboard</a>
         <a href="{% url 'attendence:backup' %}">Backup</a>
        <a href="{% url 'attendence:restore' %}">Restore</a>
		<a href="{% url 'attendence:aupdatepass1' %}">Update Password</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Manage</a><div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:aviewteacher' %}">Teacher &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a href="{% url 'attendence:aviewsubject' %}">Subject</a>
		<a href="{% url 'attendence:aviewlab' %}">Lab</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Student</a><div id="m3" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:addstudent' %}">Add Student</a>
        <a href="{% url 'attendence:aviewstudent' %}">View Student</a>
        </div></li>
			
			<li><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">View</a><div id="m4" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:atview' %}">Teacher Attendance</a>
        <a href="{% url 'attendence:aviewcourse' %}">Division Attendance</a>
		<a href="{% url 'attendence:alview' %}">Lab Attendance</a>
        </div></li>
			<li><a href="{% url 'attendence:amail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	
	 <div id="background">
        <div id="height">
		<br><br>
	<table border="double" width="865">
        <th><a href="{% url 'attendence:asview' %}">View Report</a></th>
        <th><a href="{% url 'attendence:asview1' %}">View Graph</a></th>
        </table>
		<br><br>
		<script>
		 function myfun()
		 {	debugger;
			var a=document.getElementById("tbl");
			newWin=window.open("");
			newWin.alert(a.outerHTML);
			newWin.print();
			newWin.close();
			//window.print();
		}
			
		 
		 </script>
		 <input type="button" value="Print" onclick="myfun()" />
		<table name="tbl" id="tbl" border="double" width="865">
			<tr>
        <th colspan="3">
		Roll No: {{ obj.roll }}
		, Student Name: {{ obj.sname }}
		, Course Name: {{ obj.division.classes.course.coname }}
		, Class: {{ obj.division.classes.clname }}  
		, Division:  {{ obj.division.dname }}
		</th>
        </tr>
		<tr><th>Subjet</th>
		<th>Attendance</th>
		<th>Total Lecture</th></tr>
	{% for c in mat %}
		<tr>
		<td>
		<script>
		var arr={{ c|safe }} ;
		document.write(arr[0]);
		</script>
		</td>
		<td>
		<script>document.write(arr[1]);
		</script>
		</td>
		<td><script>document.write(arr[2]);
		</script>
		</td>
		</tr>
	{% endfor %}

		</table>
        
		</div>
       
		<hr noshade>

	
	</div>	
	
	
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>