<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<!--end of t_header-->
	<div id="t_menu">
	<ul>
			<li><a href="{% url 'attendence:adashboard' %}">Dashboard</a></li>
			<li><a href="{% url 'attendence:aviewteacher' %}">Teacher</a></li>
			<li><a href="{% url 'attendence:aviewstudent' %}">Student</a></li>
			<li><a href="{% url 'attendence:aviewcourse' %}">View</a></li>
			<li><a href="{% url 'attendence:amail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	</div>
	
	 <div id="background">
        <div id="height">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
	</script>
	{{ chart.as_html }}
		</div>
       
		<hr noshade>
		
		

	
	</div>	
	
	</form>
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>