<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>								<!--end of t_header-->
	<div id="t_menu">
	<ul>
			<li><a href="{% url 'attendence:home' %}">Home</a></li>	
	</ul>
	</div>
	
	<form name="login" id="login" action="{% url 'attendence:login_check' %}" method="POST">{% csrf_token %}
        <div id="background">
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Teacher Login</h4>
        <hr noshade>
        <div id="login">
        <img src="{% static "attendence/images/person_login.png" %}">
        <div id="login_right">
        <h1>username &nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" name="lid" maxlength="16"/></h1>
        <br>
        <h2>password &nbsp&nbsp&nbsp&nbsp&nbsp <input type="password" name="lpass" maxlength="16"/></h2>
        <br>
	<select name="role" id="role">
		<option value="teacher">Teacher</option>
		<option value="hod">HOD</option>
		<option value="admin">Admin</option>
	</select>
	<br>
<input type="image" src="{% static "attendence/images/loginbutton.png" %}" value="e_submit" name="e_submit" width="200" height="50"/>

<!--        <a href="login_check.php"><img src="images/loginbutton.png"></a>	-->
        </div>
        </div>
       <br>	
        <hr noshade>
        <br>

        <div id="padding">
        
        </div>
        </div>
		
		<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>