<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
				<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:sdashboard' %}">Dashboard</a>
		<a href="">Update Password</a>
        </div></li>
			<li><a href="{% url 'attendence:sview1' %}">Report</a></li>
			<li><a href="{% url 'attendence:sview2' %}">Graph</a></li>		
			
		<li><a href="{% url 'attendence:slogout' %}">Logout</a></li>
	</ul>
	<div id="background">
        <div id="common">
        <div class="cs_article">
        <div class="left">
        <h1>Dashboard</h1>
        <br>
	<table width="600">
	<tr><td>Name :</td><td> ASAWALE AVINASH VITTHAL </td></tr>
	<tr><td>Course :</td><td> BSc(Computer Science) </td></tr>
	<tr><td>Class :</td><td> SYBSc </td></tr>
	<tr><td>Division :</td><td> A </td></tr>
	<tr><td>Roll No : </td><td> 1 </td></tr>
	<tr>
	<td>Total Subject</td>
	<td>4
	</td>
	</table>
        
        </div>
        
        </div>
        </div>
       

	
	<hr noshade>
	 </div>


	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>