<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:sdashboard' %}">Dashboard</a>
		<a href="{% url 'attendence:supdatepass1' %}">Update Password</a>
        </div></li>
			<li><a href="{% url 'attendence:sview1' %}">Report</a></li>
			<li><a href="{% url 'attendence:sview2' %}">Graph</a></li>		
			
		<li><a href="{% url 'attendence:slogout' %}">Logout</a></li>
	</ul>
	
	 <div id="background">
        <div id="height">
		<br><br>
	
		<br><br>
		<script>
		 function myfun()
		 {
			var a=document.getElementById("tbl");
			newWin=window.open("");
			newWin.document.write(a.outerHTML);
			newWin.print();
			newWin.close();
		}
			
		 
		 </script>
		 <input type="button" value="Print" onclick="myfun()" />
		<table name="tbl" id="tbl" border="double" width="865">
			<tr>
        <th colspan="4">
		Roll No: {{ obj.roll }}
		, Student Name: {{ obj.sname }}
		, Course Name: {{ obj.division.classes.course.coname }}
		, Class: {{ obj.division.classes.clname }}  
		, Division:  {{ obj.division.dname }}
		</th>
        </tr>
		<tr><th>Subjet</th>
		<th>Attendance</th>
		<th>Total Lecture</th>
		<th>Attendance %</th>
		</tr>
	{% for c in mat %}
		<tr>
		<td>
		<script>
		var arr={{ c|safe }} ;
		document.write(arr[0]);
		</script>
		</td>
		<td>
		<script>document.write(arr[1]);
		</script>
		</td>
		<td><script>document.write(arr[2]);
		</script>
		</td>
		<td><script>document.write(arr[3]);
		</script>
		 </td>
		</tr>
	{% endfor %}

		</table>
        
		</div>
       
		<hr noshade>

	
	</div>	
	
	
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>