<html>
<head>
<title>NWC Attendence System</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
		<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:tdashboard' %}">Dashboard</a>
		<a href="">Update Password</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Add</a><div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:tattendence' %}">Division Attendance</a>
        <a href="{% url 'attendence:tlattendence' %}">Lab Attendance</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Update</a><div id="m3" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
		<a href="{% url 'attendence:utattendence' %}">Division Attendance</a>
        <a href="{% url 'attendence:ultattendence' %}">Lab Attendance</a>        </div></li>
			
			<li><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">View</a><div id="m4" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:tview' %}">Division Attendance</a>
		<a href="{% url 'attendence:tlview' %}">Lab Attendance</a>
        </div></li>
			<li><a href="{% url 'attendence:tmail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	
	 <div id="background">
	 <div id="height">
	 
        <h1>Notification</h1>
        <br>
        <table border="double" width="850">
        <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Message</th>
        </tr>
        {% for b in obj1 %}
			<tr>
			<td>{{b.mdate}}</td>
			<td>{{b.mtime}}</td>
			<td>{{b.message}}</td>
			</tr>
		{% endfor %}
		
		
		</table>
		
        
		</div>
       
		<hr noshade>

	
	</div>	
	
	
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>