<html>
<head>
<title>NWC Attendence System</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<SCRIPT language="javascript">

			function invertAll()
			{
				
				var q = document.querySelectorAll("input[type=checkbox][name=chk]"),
				l = q.length, i;
				for( i=0; i<l; i++)
					q[i].checked = !q[i].checked;
				//$('#tbl input:checkbox').attr('checked',false);
				//print();
			}
			
			
			
			function CheckAll()
			{ 
				$('#tbl input:checkbox').attr('checked',true);
			//	for (i = 0; i < chk.length; i++) 
			//	chk[i].checked = true ;
			} 
			function UnCheckAll()
			{ 
				$('#tbl input:checkbox').attr('checked',false);
				//for (i = 0; i < chk.length; i++) 	
				//chk[i].checked = false ;
			} 
			
			
       </script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
	<!--end of t_header-->
	<div id="t_menu">
	<ul>
			<li><a href="{% url 'attendence:hdashboard' %}">Dashboard</a></li>
			<li><a href="{% url 'attendence:hattendence' %}">Add Attendence</a></li>
			<li><a href="{% url 'attendence:uhattendence' %}">Update Attendence</a></li>
			<li><a href="{% url 'attendence:hview' %}">View</a></li>
			<li><a href="{% url 'attendence:hmail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	</div>
	
	 <div id="background">
        <div id="height">
	<table width="865">
	<th align="right">
	<form action="{% url 'attendence:uhattendence2' %}" name="TeacherRegistration" method="POST">{% csrf_token %}
	
		
	<!--<input type="text" name="search" size="15" required /> <input type="submit" name="submit" value="Search" />--></th>
	<!--</form>-->
	
	</table>
	<table width="400">
        <th><input type=Button name="all" id='check_all' value="Select All"  onclick="CheckAll()" /></th>
		<script>
		
			</script>
        <th><input type=Button name="invert" value="Invert Selection" onclick="invertAll()"/></th>
		<th><input type=Button name="disseleect" value="Deselect" onclick="UnCheckAll()"/></th>
		<th><input type="submit" id="submit-button" value="Submit" name="submit"  /></th>
        </table>
	<table name="tbl" id="tbl" border="double" width="865">
        <th colspan="6">Select Student</a></th>
        <tr>
        
	<th>Select</th>	
	<th>Roll No</th>
        <th>Name</th>
       </tr>
	   
	   {% for a in obj2 %}
	   <tr>
	   <td><input type='checkbox' name='chk' id='chk' value="{{a.sid}}" /></td>
	   <td>{{a.roll}}</td>
	   <td>{{a.sname}}</td>
	   </tr>
	   {% endfor %}
	   
	<!--
		<tr>
		<td><input type='checkbox' name='chk' id='chk' value='1' /></td>
		<td>a</td>
		<td>b</b>
		</tr>
		
			<tr>
		<td><input type='checkbox' name='chk' id='chk' value='2' /></td>
		<td>a</td>
		<td>b</b>
		</tr>
	
		-->
		
		 </table>
        
		</div>
       
		<hr noshade>
		
		

	
	</div>	
	
	</form>
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>