<html>
<head>
<title>NWC Attendence System</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<SCRIPT language="javascript">

			function dynamicdropdown(listindex)
            {
                document.getElementById("subcategory").length = 0;
				document.getElementById("subcategory").options[0]=new Option("Please select Class","");
				var ro=1;
				{% for b in obj1 %}
					if ( listindex == {{b.lid}} )
					{
						document.getElementById("subcategory").options[ro]=new Option("{{b.division.classes.clname}}","{{b.division.classes.clid}}");
						ro++;
					}
				{% endfor %} 
				
                
				return true;
            }
			function dynamicdropdown1(listindex)
            {
                document.getElementById("sub1category").length = 0;
                switch (listindex)
                {
                    case "1" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","1");
                        document.getElementById("sub1category").options[2]=new Option("Div B","2");
                        break;
					case "2" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","3");
                        document.getElementById("sub1category").options[2]=new Option("Div B","4");
                        break;
					case "3" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","5");
                        document.getElementById("sub1category").options[2]=new Option("Div B","6");
						break;
                    case "4" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","7");
						break;
					case "5" :
                        document.getElementById("sub1category").options[0]=new Option("Please select Division","");
                        document.getElementById("sub1category").options[1]=new Option("Div A","8");
						break;
                    }
                return true;
            }
			
       </script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendence/css/style.css' %}" />
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;
function mopen(id)
{	
	mcancelclosetime();
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}
document.onclick = mclose; 
</script>
</head>
<body>
	<div id="t_wrapper">
	<div id="t_header">
	
	</div>		
			<ul id="sddm">

			<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Dashboard</a><div id="m1" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:hdashboard' %}">Dashboard</a>
		<a href="">Update Password</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Add</a><div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="{% url 'attendence:hattendence' %}">Division Attendance</a>
        <a href="{% url 'attendence:hlattendence' %}">Lab Attendance</a>
        </div></li>
			<li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Update</a><div id="m3" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
		<a href="{% url 'attendence:uhattendence' %}">Division Attendance</a>
        <a href="{% url 'attendence:ulhattendence' %}">Lab Attendance</a>        </div></li>
			
			<li><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">View</a><div id="m4" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
		<a href="{% url 'attendence:htview' %}">Teacher Attendance</a>
        <a href="{% url 'attendence:hview' %}">Division Attendance</a>
		<a href="{% url 'attendence:hlview' %}">Lab Attendance</a>
        </div></li>
			<li><a href="{% url 'attendence:hmail' %}">Notification</a></li>
			<li><a href="{% url 'attendence:logout' %}">Logout</a></li>
	</ul>
	 <div id="background">
        <div id="height">
				
		<br><br>
	<table width="600">
	
	<th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUpdate Lab Attendence</th>
	<tr>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Subject</td>
	<td>
	<form action="{% url 'attendence:ulhattendence1' %}" name="TeacherRegistration" method="POST">{% csrf_token %}
	
		<select name="category1" id="category1" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                <option value="">Select Lab</option>
                {% for b in obj1 %}
				<option value="{{b.lid}}">{{b.lname}}</option>
				{% endfor %}
            </select>
	</td></tr><tr>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Class</td>
	<td>
	<script type="text/javascript" language="JavaScript">
                document.write('<select name="subcategory" class="required-entry" id="subcategory" onchange="javascript: dynamicdropdown1(this.options[this.selectedIndex].value);"><option value="">Please select Class</option></select>')
            </script>
            <noscript>
                <select name="subcategory" id="subcategory" >
                    <option value="">Please select Class</option>
                </select>
            </noscript>
	</td></tr><tr>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Division</td>
	<td>
	<script type="text/javascript" language="JavaScript">
                document.write('<select name="sub1category" id="sub1category" onchange="javascript: dynamicdropdown2(this.options[this.selectedIndex].value);"><option value="">Please select Division</option></select>')
            </script>
            <noscript>
                <select name="sub1category" id="sub1category" >
                    <option value="">Please select Division</option>
                </select>
            </noscript>	
			</td>
			</tr>
			<tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect Date</td>
			<td><input name="date" id="date" type="date"></td></tr>
	<!--<input type="text" name="search" size="15" required /> <input type="submit" name="submit" value="Search" />--></th>
	<!--</form>-->
	
	
	
	
	
        <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type=reset name="all" id='check_all' value="Reset" /></td>
        <td><input type="submit" id="submit-button" value="Submit" name="submit"  /></td></tr>
	
        </table>
		<!--
	<table name="tbl" id="tbl" border="double" width="865">
        <th colspan="6">Select Student</a></th>
        <tr>
        
	<th>Select</th>	
	<th>Roll No</th>
        <th>Name</th>
       </tr>
	
		<tr>
		<td><input type='checkbox' name='chk' id='chk' value='1' /></td>
		<td>a</td>
		<td>b</b>
		</tr>
		
			<tr>
		<td><input type='checkbox' name='chk' id='chk' value='2' /></td>
		<td>a</td>
		<td>b</b>
		</tr>
	
		
		
		 </table>
        -->
		</div>
       
		<hr noshade>
		
		

	
	</div>	
	
	</form>
	<div id="t_footer"></div>
<div id="footer"></div>
<div id="footer">Designed and Developed by Shubhangi Mahajan, Anil Rajole & Vinod Thapa</div>
</body>
</html>